.idea
.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
.hypothesis
htmlcov
*.egg-info
Pipfile.lock
abci_build_*/
keys.json
leak_report
packages/valory/connections/*
!packages/valory/connections/twitter
!packages/valory/connections/openai
!packages/valory/connections/farcaster
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/agent_registry
packages/valory/contracts/mech_marketplace_legacy
packages/valory/contracts/mech_marketplace
packages/valory/contracts/mech
packages/valory/contracts/mech_mm
packages/valory/contracts/erc20
packages/valory/protocols/*
!packages/valory/protocols/twitter
!packages/valory/protocols/llm
!packages/valory/protocols/srr
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/safe_deployment_abci
packages/valory/skills/transaction_settlement_abci
packages/valory/skills/termination_abci
packages/valory/skills/mech_interact_abci
packages/valory/contracts/ierc1155
packages/valory/contracts/nvm_balance_tracker_native
packages/valory/contracts/nvm_balance_tracker_token
packages/valory/contracts/escrow_payment_condition
packages/valory/contracts/did_registry
packages/valory/contracts/nft_sales
packages/valory/contracts/lock_payment_condition
packages/valory/contracts/agreement_store_manager
packages/valory/contracts/transfer_nft_condition
packages/valory/contracts/subscription_provider
packages/open_aea
*.pyc
.vscode/
.zed/
.coverage*
.dmypy.json

.env

ethereum_private_key.txt

impact_evaluator
!packages/valory/agents/impact_evaluator
!packages/valory/services/impact_evaluator

temp/

impact_evaluator_local/

farcaster_test/
!packages/valory/agents/farcaster_test/
keys1.json

tenderly_vnets.json

stream.json

contribute_centaurs.json

contribute_db.json

contribute_generic_points.json
