.idea
.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
.hypothesis
htmlcov
*.egg-info
Pipfile.lock
abci_build/
keys.json
leak_report
packages/valory/connections/*
!packages/valory/connections/twitter
!packages/valory/connections/openai
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/protocols/*
!packages/valory/protocols/twitter
!packages/valory/protocols/llm
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/safe_deployment_abci
packages/valory/skills/transaction_settlement_abci
packages/valory/skills/termination_abci
packages/open_aea
packages/fetchai
*.pyc
.vscode/
.coverage*

*.env

ethereum_private_key.txt

impact_evaluator
!packages/valory/agents/impact_evaluator
!packages/valory/services/impact_evaluator

temp/