.idea
.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
.hypothesis
htmlcov
*.egg-info
Pipfile.lock
abci_build/
keys.json
leak_report
packages/valory/connections
packages/valory/contracts/service_registry
packages/valory/protocols
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/safe_deployment_abci
packages/valory/skills/transaction_settlement_abci
packages/open_aea
packages/fetchai
*.pyc
.vscode/
.coverage*

*.env
