[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# we don't specify dependencies for the library here for intallation as per: https://pipenv-fork.readthedocs.io/en/latest/advanced.html#pipfile-vs-setuppy
# aea/autonomy package dependencies are specified in their respective configuration yaml files and as dev dependencies below

[dev-packages]
# we fix exact versions as it's sufficient to have at least one set of compatible dependencies for development
aiohttp = "<4.0.0,>=3.8.5"
asn1crypto = "==1.5.1"
Authlib = "==1.2.0"
certifi = "==2021.10.8"
cryptography = "==44.0.2"
dag-cbor = "==0.3.3"
grpcio = "==1.53.0"
jsonschema = "<4.4.0,>=4.3.0"
jsonpatch = "==1.32"
hypothesis = "==6.21.6"
multiformats = "==0.3.1.post4"
pre-commit = "==3.0.1"
py-ecc = "==6.0.0"
pytz = "==2022.2.1"
pytest = "==7.2.1"
pytest-asyncio = ">=0.21.0,<0.22.0"
pytest-cov = "==4.0.0"
pytest-randomly = "==3.12.0"
openapi-core = "==0.15.0"
openapi-spec-validator = "<0.5.0,>=0.4.0"
open-aea = "==1.65.0"
open-aea-ledger-ethereum = "==1.65.0"
open-aea-ledger-cosmos = "==1.65.0"
open-aea-cli-ipfs = "==1.65.0"
open-aea-test-autonomy = "==0.19.8"
open-autonomy = {version = "==0.19.8", extras = ["all"]}
tomte = {version = "==0.2.17", extras = ["cli", "tests"]}
requests = ">=2.28.1,<2.31.2"
openai = "==1.55.3"
bases = "==0.3.0"
typing_validation = "==1.1.0"
typing_extensions = "==4.11.0"
tweepy = "==4.14.0"
twitter_text_parser = "==3.0.0"
py-multibase = "==1.0.3"
py-multicodec = "==0.2.1"
py-eth-sig-utils = "*"
protobuf = "<4.25.0,>=4.21.6"
farcaster = "==0.7.11"
rich = "==13.9.4"

[requires]
python_version = "3.10"
